@import 'bootstrap/scss/bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "components/task_card";

.a-tag {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  &:hover {
    color: rgba(0, 0, 0, 0.5)
  }
}

.chores-tag {
  text-decoration: none;
  color: rgb(199, 199, 199);
  margin-left: 0.5em;
  margin-right: 0.5em;
  &:hover {
    color: rgba(0, 0, 0, 0.8)
  }
}
